<div *ngIf="lesson" class="lesson-details">
  <div *ngFor="let content of contents">
    <input type="text" [(ngModel)]="answer" (ngModelChange)="answerChanged()" [ngStyle]="{'width': content.width}" *ngIf="content.type === 'input'">
    <span *ngIf="content.type === 'output'" [ngStyle]="{'color': content.color}">{{content.text}}</span>
  </div>
</div>
<div class="lesson-buttons">
  <button [disabled]="!solved" (click)="lessonCompleted()">Continue</button>
</div>

