.lesson-details {
    margin-top: 20px;
    padding: 10px;
    height:150px;
    width: 350px;
    display: flex;
    background-color: #3c3e68;
    border-radius: 4px;
}
.lesson-buttons {
    margin-top: 20px;
}
input {
    font-size: 14px;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
}
span {
    white-space: pre;
}