/* You can add global styles to this file, and also import other style files */
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }
  body, input[text], button {
    color: #888;
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  }
  /* everywhere else */
  * {
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
  }

  button {
    display: block;
    margin-bottom: 10px;
    width: 370px;
    cursor: pointer;
    height: 35px;
    border-radius: 4px;
    border: none;
    background-color: #00c860;
    color: white;
    font-size: 16px;
    font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
}

button:disabled {
    background-color: #89d6ae;
    cursor: default;
}